<section class="section">
  <div class="container">
    <div class ="columns">
      <%= render 'top-posts'%>
      <%= render 'feed' %>
      <%= render 'most-popular-users' %>
    </div>
  </div>
</section> 